<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://www.dyued.com/m_thumbs/90x120/36e33f7984d5e86d.jpg</string>
		<key>name</key>
		<string>捉妖记</string>
		<key>url</key>
		<string>http://espial.tuifeiapi.com/include/d/83103606e0126684ab5dd19a0ebecfc1.m3u8</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://www.dyued.com/m_thumbs/90x120/4807e5534dda449a.jpg</string>
		<key>name</key>
		<string>蚂人</string>
		<key>url</key>
		<string>http://check.tuifeiapi.com/init/mill/gjsdqyzqgi3tgojwfy4tmmzygfsgezjwmy.m3u8</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://www.dyued.com/m_thumbs/90x120/36e33f7984d5e86d.jpg</string>
		<key>name</key>
		<string>捉妖记</string>
		<key>url</key>
		<string>http://espial.tuifeiapi.com/include/d/83103606e0126684ab5dd19a0ebecfc1.m3u8</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://www.dyued.com/m_thumbs/90x120/4807e5534dda449a.jpg</string>
		<key>name</key>
		<string>蚂人</string>
		<key>url</key>
		<string>http://check.tuifeiapi.com/init/mill/gjsdqyzqgi3tgojwfy4tmmzygfsgezjwmy.m3u8</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://www.dyued.com/m_thumbs/90x120/4807e5534dda449a.jpg</string>
		<key>name</key>
		<string>蚂人</string>
		<key>url</key>
		<string>http://check.tuifeiapi.com/init/mill/gjsdqyzqgi3tgojwfy4tmmzygfsgezjwmy.m3u8</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://www.dyued.com/m_thumbs/90x120/36e33f7984d5e86d.jpg</string>
		<key>name</key>
		<string>捉妖记</string>
		<key>url</key>
		<string>http://espial.tuifeiapi.com/include/d/83103606e0126684ab5dd19a0ebecfc1.m3u8</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://www.dyued.com/m_thumbs/90x120/4807e5534dda449a.jpg</string>
		<key>name</key>
		<string>蚂人</string>
		<key>url</key>
		<string>http://check.tuifeiapi.com/init/mill/gjsdqyzqgi3tgojwfy4tmmzygfsgezjwmy.m3u8</string>
	</dict>
</array>
</plist>
